<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/login.css" />
  </head>
  <body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
      <div class="container">
        <div class="card login-card" style="display: block">
          <div class="card-body">
            <h2 class="login-card-title">Sign Up</h2>
            <p class="login-card-description">Growdever Registration Form.</p>
            <form action="/users" method="POST">
              <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  placeholder="Name"
                />
              </div>
              <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                  placeholder="Username"
                />
              </div>

              <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>

              <div class="form-group">
                <select class="form-control">
                  <option value="1">Growdever</option>
                  <option value="2">Admin</option>
                </select>
              </div>

              <input
                name="sign-up"
                id="sign-up"
                class="btn btn-block login-btn mb-4"
                type="submit"
                value="Sign Up"
                style="background-color: rgb(135, 169, 129)"
              />
            </form>
            <p class="login-card-footer-text">
              Already have an account?
              <a href="/" class="text-reset">Sign in </a>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
